.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.round-corner-button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
}
